---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import CardInfo from "../components/CardInfo.astro";
import CardAboutMe from "../components/CardAboutMe.astro";
import Proyects from "../components/Proyects.astro";
import Me from "../components/Me.astro";
import Skills from "../components/Skills.astro";
import { SKILLS_INFO } from "../lib/data/aboutMe.astro";
import type { SkillItem } from "../lib/types/skills";
import LucideIcon, { type LucideIconName } from "../components/icons/LucideIcon.tsx";
---

<Layout title="Samuel Sarmiento - PORTFOLIO">
  <Nav />

  <main>
    <section
      id="home"
      class="pt-28 pb-16 px-4 md:px-0 max-w-7xl mx-auto grid md:grid-cols-2 gap-8 items-center"
    >
      <CardInfo />
      <Me />
    </section>
    <section id="proyects" class="bg-eerie-black pt-7">
      <h2 class="text-alice-blue text-2xl font-Onest text-center">Proyectos</h2>
      <Proyects />
    </section>
    <section id="about" class="py-16 bg-gray-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
          <h2 class="text-3xl md:text-4xl font-bold text-blue-dark mb-4">
            Sobre Mí
          </h2>
          <p class="text-gray-500 max-w-2xl mx-auto">
            Conozca un poco más sobre mi pasión y experiencia en diferentes áreas
          </p>
        </div>
        
        <div class="grid md:grid-cols-3 gap-8">
          {
            SKILLS_INFO.map((skill: SkillItem) => {
              return (
                <CardAboutMe class={skill.color.dark} job={skill}>
                  <LucideIcon
                    client:load
                    name={skill.iconName as LucideIconName}
                    size={24}
                    className={skill.color.light}
                  />
                </CardAboutMe>
              );
            })
          }
        </div>
      </div>
    </section>

    <section id="skills">
      <Skills />
    </section>
  </main>
</Layout>

<style>
  .scrollContainer {
    animation: scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 75vh 95vh;
  }

  .grid-cols-edit {
    grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  }

  @keyframes scroll {
    to {
      translate: -18% 0;
    }
  }
</style>
