---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import CardInfo from "../components/CardInfo.astro";
import CardAboutMe from "../components/CardAboutMe.astro";
import Proyects from "../components/Proyects.astro";
import Me from "../components/Me.tsx";

const music = {
  skill: "Musico",
  description: "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera."
}

const design = {
  skill: "Diseñador",
  description: "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera."
}

const dev = {
  skill: "Dev",
  description: "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera."
}

---

<Layout title="Samuel Sarmiento - PORTFOLIO">
  <Nav />

  <main class="">
    <section class="px-20 mb-10 flex flex-row justify-around items-center">
      <CardInfo />
      <Me client:load />
    </section>

    <section id="aboutMe"class="w-full h-[500px] -z-20 bg-eerie-black">
      <main class="w-full h-[90vh] py-7 px-4 overflow-hidden sticky top-0 left-0">
        <section class="scrollContainer w-fit h-[calc(500px_-_3.5rem)] flex items-center gap-16">

          <CardAboutMe class="text-flax" url="note.png" job={music}/>
          <CardAboutMe class="text-bitter-sweet" url="design.png" job={design}/>
          <CardAboutMe class="text-blue-neon" url="code.png" job={dev}/>
          
        </section>
      </main>
    </section>
    <section id="proyects">
      <Proyects/>
    </section>
    <section id="skills">
      
    </section>
  </main>
</Layout>

<style>
  .scrollContainer {
    animation: scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 75vh 95vh;
  }

  @keyframes scroll {
    to {
      translate: -18% 0;
    }
  }
</style>
