---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import CardInfo from "../components/CardInfo.astro";
import CardAboutMe from "../components/CardAboutMe.astro";
import Proyects from "../components/Proyects.astro";
import Me from "../components/Me.tsx";
import ArrowsDev from "../components/svg/ArrowsDev.astro";
import MusicNote from "../components/svg/MusicNote.astro";
import Computer from "../components/svg/Computer.astro";
import Skills from "../components/Skills.astro";

const music = {
  skill: "Musico",
  description:
    "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera.",
};

const tecnology = {
  skill: "Tegnologia",
  description:
    "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera.",
};

const dev = {
  skill: "Dev",
  description:
    "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera.",
};
---

<Layout title="Samuel Sarmiento - PORTFOLIO">
  <Nav />

  <main>
    <section id="home" class="h-[450px] flex flex-col mb-10 justify-between gap-10 px-5 lg:p-8 lg:pb-0 lg:mb-6 lg:flex-row xl:px-15"
    >
      <CardInfo />
      <Me client:load />
    </section>
    <section id="proyects" class="bg-eerie-black">
      <Proyects />
    </section>
    <section id="aboutMe" class="w-full p-5 flex items-center flex-col">
      <h2 class="text-center text-xl text-alice-blue">Sobre Mi</h2>
      <p class="max-w-[60ch] text-gray-400 text-center">En esta sección te contare un poco mas sobre mis estudios, gustos, entre otras cosas, para conocernos mejor.</p>
      <aside class="mt-5 flex flex-col lg:flex-row gap-5">
        <CardAboutMe class="text-blue-neon" job={dev}>
          <ArrowsDev class="size-10 text-blue-neon"/>
        </CardAboutMe>
        <CardAboutMe class="text-flax" job={music}>
          <MusicNote class="size-10 text-flax"/>
        </CardAboutMe>
        <CardAboutMe class="text-bitter-sweet" job={tecnology}>
          <Computer class="size-10 text-bitter-sweet"/>
        </CardAboutMe>
      </aside>
    </section>


    <section id="skills">
      <Skills/>
    </section>
  </main>
</Layout>

<style>
  .scrollContainer {
    animation: scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 75vh 95vh;
  }

  .grid-cols-edit {
    grid-template-columns: minmax(0, 1fr) minmax(0, auto);
  }

  @keyframes scroll {
    to {
      translate: -18% 0;
    }
  }
</style>
