---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import CardInfo from "../components/CardInfo.astro";
import CardAboutMe from "../components/CardAboutMe.astro";
import Proyects from "../components/Proyects.astro";
import Me from "../components/Me.tsx";

const music = {
  skill: "Musico",
  description: "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera."
}

const design = {
  skill: "Diseñador",
  description: "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera."
}

const dev = {
  skill: "Dev",
  description: "Se refiere a una secuencia de trabajos relacionados que una persona tiene a lo largo de su vida. Implica un desarrollo profesional y un avance en la carrera."
}

---

<Layout title="Samuel Sarmiento - PORTFOLIO">
  <Nav />

  <main class="">
    <section class="px-20 mb-10 flex flex-row justify-around items-center">
      <CardInfo />
      <Me client:load />
    </section>

    <section class="w-full h-[300vh] bg-eerie-black">
      <main class="w-full h-[90vh] py-12 px-10 overflow-hidden sticky top-0 left-0">
        <section class="scrollContainer w-[380vh] h-full flex items-center gap-[40vw] justify-evenly">

          <CardAboutMe class="text-flax" url="note.png" job={music}/>
          <CardAboutMe class="text-bitter-sweet" url="design.png" job={design}/>
          <CardAboutMe class="text-blue-neon" url="code.png" job={dev}/>
          
        </section>
      </main>
    </section>
    <section>
      <Proyects/>
    </section>
  </main>
</Layout>

<style>
  .scrollContainer {
    animation: scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 590px;
  }

  @keyframes scroll {
    to {
      translate: -100% 0;
    }
  }
</style>
