---
import Tittle from "./Tittle.tsx";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import ButtonContact from "./ButtonContact.astro";
import TypeAnimationBlock from "./TypeAnimationBlock";
---

<article class="order-2 md:order-1 card bg-amber-50 p-8 border-blue-dark shadow-card">
    <header>
      <h2 class="text-xl md:text-2xl font-medium text-gray-600 mb-2">
        ¡Hola! 👋
      </h2>
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold text-blue-dark mb-3"
      >
        Soy <span class="text-blue-dark">Samuel</span>
      </h1>
    </header>
    <div class="text-xl md:text-2xl font-medium text-gray-600 mb-6 h-8">
      <TypeAnimationBlock client:load />
    </div>
    <p class="text-gray-600 mb-8">
      Desarrollador web apasionado por crear experiencias digitales atractivas y
      funcionales. Combino mi amor por el código 💻 con mi pasión por la música
      🎶 para dar vida a proyectos creativos.
    </p>
    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4">
      <ButtonContact />
      <div class="flex gap-3">
        <a
          href="https://linkedin.com"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <Linkedin class="size-5" />
        </a>
        <a
          href="https://github.com"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <Github class="size-5" />
        </a>
      </div>
    </div>
</article>

<style>
  .social-icon {
    @apply size-10 flex items-center justify-center bg-blue-950 text-white rounded-full 
    hover:bg-blue-600 transition-all duration-300;
  }
</style>
