---
type job = {
    skill: string;
    description: string;
};

interface Props {
    class: string;
    job: job;
}

const {
    class: className,
    job: { skill, description },
} = Astro.props;
---

<article
    class:list={[
        className,
        "bg-alice-blue bg-opacity-10 p-5 flex flex-col items-center rounded-lg",
    ]}
>
    <picture class="size-fit grid place-content-center">
        <slot />
    </picture>
    <h3 class="font-bold font-Inconsolata text-3xl">
        {skill}
    </h3>
    <p class="text-lg leading-6 text-gray-400">
        {description}
    </p>
</article>
