---
import type { SkillItem } from "../lib/types/skills";

interface Props {
    class: string;
    job: SkillItem;
}

const {
    class: className,
    job: { skill, description },
} = Astro.props;
---

<div class={className + "  rounded-lg shadow-card p-6 transition-all duration-300 hover:shadow-hover bg-white border-l-4 border-current hover:translate-y-[-5px]"}>  
    <div
        class="w-12 h-12 bg-current rounded-lg flex items-center justify-center mb-4"
    >
        <slot />
    </div>
    <h3 class="text-xl font-semibold mb-2">{skill}</h3>
    <p class="text-gray-600">
        {description}
    </p>
</div>
