
<figure class="order-1 md:order-2 flex justify-center">
    <div class="relative">
        <div class="bg-white rounded-lg shadow-card border-2 border-blue-950 transition-all duration-300 hover:shadow-hover p-4 relative">
            <img
                src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg"
                alt="Samuel"
                class="w-full max-w-md rounded-lg object-cover aspect-[3/4]"
            />
        </div>
    </div>
</figure>
