---
import MenuNav from "./MenuNav.tsx";
import Clip from "./icons/Clip";
import Home from "./icons/Home";
import MenuIcon from "./icons/MenuIcon";
---

<header class="p-5 sticky z-20 inset-0 lg:p-8 lg:pb-0 xl:py-12 xl:px-15">
    <nav
        class="px-8 py-3 overflow-x-clip overflow-y-visible relative flex justify-between border-2 rounded-lg shadow-[0px_5px_0] bg-alice-blue border-blue-neon shadow-blue-neon"
    >
        <a
            href="/"
            class="font-Kanit font-bold text-xl grid place-content-center text-blue-neon"
        >
            SAMUEL✨
        </a>
        <MenuNav client:load />
    </nav>
</header>

<style>
    /* li {
        @apply flex items-center;
        a {
            @apply ;

            &:hover {
                @apply shadow-[1.5px_1.5px_0] bg-flax border-blue-neon shadow-blue-neon;
            }

            figure {
                @apply grid place-content-center text-center;
            }

            svg {
                @apply lg:hidden z-20 text-blue-neon size-20 drop-shadow-[0_0_4px_rgba(0,0,0,0.5)];
            }

            figcaption {
                @apply font-Onest font-medium;
            }
        }
    } */
</style>
