---
import ButtonContact from "./ButtonContact.astro";

const NAV_INFO = [
    { name: "inicio", href: "#home" },
    { name: "Sobre Mí", href: "#aboutme" },
    { name: "Proyectos", href: "#proyects" },
    { name: "Habilidades", href: "#skills" },
];
---

<header class="p-5 sticky z-20 inset-0 lg:p-8 lg:pb-0 xl:py-12 xl:px-15">
    <!-- <nav
        class="px-8 py-3 overflow-x-clip overflow-y-visible relative flex justify-between border-2 rounded-lg shadow-[0px_5px_0] bg-alice-blue border-blue-neon shadow-blue-neon"
    >
        <a
            href="/"
            class="font-Kanit font-bold text-xl grid place-content-center text-blue-neon"
        >
            SAMUEL✨
        </a>
        <MenuNav client:load />
    </nav> -->
    <nav
        class="flex items-center justify-between bg-white border-2 border-blue-900 rounded-lg mx-4 mt-4 px-5 py-4"
    >
        <div class="text-2xl font-bold text-blue-900 font-sans">SAMUEL✨</div>
        <div class="hidden md:flex items-center space-x-4">
            {
                NAV_INFO.map((ankor) => (
                    <a
                        href={ankor.href}
                        class="px-3 py-2 rounded-md text-blue-900 hover:bg-blue-50 transition-all duration-300"
                    >
                        {ankor.name}
                    </a>
                ))
            }
            <ButtonContact />
        </div>
    </nav>
</header>