<header class="py-12 px-28">
    <nav
        class="px-8 py-3 flex justify-between border-2 rounded-lg shadow-[0px_5px_0] bg-alice-blue border-blue-neon shadow-blue-neon"
    >
        <a href="/" class="font-kanit font-bold text-xl text-blue-neon">
            SAMUEL✨
        </a>
        <ul
            class="flex flex-row gap-4 font-kanit font-[300] [&>li]:flex [&>li]:items-center"
        >
            <li class=""><a href="#home">Inicio</a></li>
            <li class=""><a href="#aboutMe">Sobre mi</a></li>
            <li class=""><a href="#proyects">Proyectos</a></li>
            <li class=""><a href="#">Habilidades</a></li>
        </ul>
    </nav>
</header>

<style>
    ul a {
        @apply px-2 rounded-lg border border-transparent;
        
        &:hover {
            @apply shadow-[1.5px_1.5px_0] bg-flax border-blue-neon shadow-blue-neon;
        }
    }
</style>
