---
import ProyectCard from "./ProyectCard.astro";
import Html from "./svg/HtmlSVG.astro";
import Css from "./svg/CssSVG.astro";
import JS from "./svg/JavaScriptSVG.astro";
import React from "./svg/ReactSVG.astro";
import Tailwind from "./svg/TailwindSVG.astro";
import Node from "./svg/NodeSVG.astro";
import AstroIcon from "./svg/AstroSVG.astro";
import Php from "./svg/PhpSVG.astro";
import SassSVG from "./svg/SassSVG.astro";
import MySQLSVG from "./svg/MySQLSVG.astro";
---

<section class="w-full overflow-x-scroll lg:overflow-hidden lg:py-8 lg:px-8">
    <div class="w-[360%] lg:w-full h-fit p-5 flex gap-5 lg:flex-col lg:gap-11">
        <ProyectCard
            tittle="RUU | Control de refigerios"
            description="Sistema de información para el manejo y control de los distintos refrigerios que llegan al colegio Rafael Uribe Uribe"
            pathImg="ruu.webp"
            class=""
            primaryBtn="text-blue-ruu"
            secondBtn="text-green-ruu"
        >
            <li>
                <Html class="size-5" />
            </li>
            <li>
                <Css class="size-6" />
            </li>
            <li>
                <JS class="size-6" />
            </li>
            <li>
                <Php class="size-6" />
            </li>
            <li>
                <SassSVG class="size-6" />
            </li>
            <li>
                <MySQLSVG class="size-6" />
            </li>
        </ProyectCard>

        <ProyectCard
            tittle="Edit.code"
            description="Editor de codigo web online con diversas funcionalidades"
            pathImg="edit-code.webp"
            class=""
            primaryBtn="text-red-ruu"
            secondBtn="text-green-ruu"
        >
            <li><Html class="size-6" /></li>
            <li><Css class="size-6" /></li>
            <li><JS class="size-6" /></li>
            <li><React class="size-6" /></li>
            <li><AstroIcon class="size-6" /></li>
            <li><Tailwind class="size-6" /></li>
        </ProyectCard>

        <ProyectCard
            tittle="Triqui Neón"
            description="Triqui o tres en raya online neon."
            pathImg="triqui.webp"
            class=""
            primaryBtn="text-red-triqui"
            secondBtn="text-blue-triqui"
        >
            <li><Html class="size-6" /></li>
            <li><Css class="size-6" /></li>
            <li><JS class="size-6" /></li>
        </ProyectCard>
    </div>
</section>

<style>
    li {
        span{
            @apply flex gap-2 py-1 px-3 rounded-full;
            label{ @apply text-alice-blue font-semibold font-Onest text-sm;}
            svg { @apply size-5;}
        }
    }
</style>
