<div
    id="proyects"
    class="overflow-x-hidden overflow-y-scroll w-full py-32 px-[25%] grid grid-cols-3 grid-rows-[repeat(5,minmax(120px,2fr))] gap-10 [&>picture]:rounded-xl [&>picture]:bg-blue-neon [&>picture>img]:w-full [&>picture>img]:h-full [&>picture>img]:border-2 [&>picture>img]:border-blue-neon [&>picture>img]:bg-white [&>picture>img]:rounded-lg [&>picture>img]:-translate-x-4 [&>picture>img]:-translate-y-4">

    <picture class="col-span-1 row-span-1">
        <img src="" alt="">
    </picture>
    <picture class="col-span-2 row-span-1">
        <img src="" alt="">
    </picture>
    <picture class="col-span-1 row-span-2">
        <img src="" alt="">
    </picture>
    <picture class="col-span-1 row-span-1">
        <img src="" alt="">
    </picture>
    <picture class="col-span-1 row-span-1">
        <img src="" alt="">
    </picture>
    <picture class="col-span-2 row-span-2">
        <img src="" alt="">
    </picture>
    <picture class="col-span-1 row-span-1">
        <img src="" alt="">
    </picture>
    <picture class="col-span-2 row-span-1">
        <img src="" alt="">
    </picture>
    <picture class="col-span-1 row-span-1">
        <img src="" alt="">
    </picture>

</div>