---
import ArrowFrom from "./icons/ArrowFrom.astro";
import Github from "./icons/Github.astro";

interface Props {
    class: string;
    tittle: string;
    description: string;
    pathImg: string;
    primaryBtn: string;
    secondBtn: string;
}

const {
    class: className,
    tittle,
    description: des,
    pathImg,
    primaryBtn,
    secondBtn,
} = Astro.props;
---

<article
    class:list={[
        className +
            "w-1/4 lg:w-full flex flex-col lg:flex-row gap-5 lg:gap-20 justify-between bg-opacity-15 overflow-hidden rounded-xl border border-opacity-15 border-alice-blue text-alice-blue bg-alice-blue lg:rounded-none lg:border-none lg:bg-transparent",
    ]}
>
    <picture class="aspect-[16_/_9] w-full max-w-[550px] max-h-[350px] overflow-hidden bg-no-repeat bg-center lg:rounded-lg lg:border lg:border-alice-blue lg:border-opacity-20">
        <img
            class="translate-x-8 translate-y-8 lg:translate-x-14 lg:translate-y-14 rounded-md"
            src={pathImg}
            alt=""
        />
    </picture>
    <section class="flex flex-col lg:justify-center p-5 lg:w-1/2">
        <h3 class="mb-3 text-xl font-bold">
            {tittle}
        </h3>
        <ul class="flex gap-2 flex-wrap mb-3">
            <slot />
        </ul>
        <p class="mb-3">{des}</p>
        <div class="flex flex-row gap-4">
            <a class:list={[primaryBtn]} href="#">
                <Github />
                <span>Code</span>
            </a>
            <a class:list={[secondBtn]} href="#">
                <ArrowFrom />
                <span>Visitar</span>
            </a>
        </div>
    </section>
</article>

<style>
    ul {
        span:hover {
            @apply scale-105;
        }
    }

    picture {
        background-image: url(gradient.png);
        background-size: 150%;
        img{
            transition: transform .3s ease-in-out;
        }
        &:hover{
            img{
                /* transform:  */
                @apply translate-x-5 translate-y-5;
            }
        }
    }

    a {
        @apply w-fit px-4 py-1 flex items-center gap-2 border border-alice-blue rounded-lg;

        span,svg {@apply z-10 text-alice-blue;}
        svg {@apply size-5;}
        &:hover {@apply bg-neutral-500}
    }
</style>
