---
import AstroSVG from "./svg/AstroSVG.astro";
import CssSVG from "./svg/CssSVG.astro";
import HtmlSVG from "./svg/HtmlSVG.astro";
import JavaScriptSVG from "./svg/JavaScriptSVG.astro";
import MySQLSVG from "./svg/MySQLSVG.astro";
import NodeSVG from "./svg/NodeSVG.astro";
import PhpSVG from "./svg/PhpSVG.astro";
import ReactSVG from "./svg/ReactSVG.astro";
import SassSVG from "./svg/SassSVG.astro";
import TailwindSVG from "./svg/TailwindSVG.astro";
import TypeScriptSVG from "./svg/TypeScriptSVG.astro";
---

<section
    class="w-full flex flex-col gap-5 bg-eerie-black my-5 py-5 overflow-hidden"
>
    <div class="animation-right w-[calc(6rem_*_26_+_1.25rem_*_25)] gap-5 flex">
        <CssSVG />
        <PhpSVG />
        <NodeSVG />
        <HtmlSVG />
        <SassSVG />
        <AstroSVG />
        <TypeScriptSVG />
        <MySQLSVG />
        <ReactSVG />
        <TailwindSVG />
        <JavaScriptSVG />
        <CssSVG />
        <PhpSVG />
        <NodeSVG />
        <HtmlSVG />
        <SassSVG />
        <AstroSVG />
        <TypeScriptSVG />
        <MySQLSVG />
        <ReactSVG />
        <TailwindSVG />
        <JavaScriptSVG />
        <CssSVG />
        <PhpSVG />
        <NodeSVG />
        <HtmlSVG />
    </div>
    <div
        class="animation-left w-[calc(6rem_*_26_+_1.25rem_*_25)] ml-[calc(-6rem_*_13)] gap-5 flex"
    >
        <CssSVG />
        <PhpSVG />
        <NodeSVG />
        <HtmlSVG />
        <SassSVG />
        <AstroSVG />
        <TypeScriptSVG />
        <MySQLSVG />
        <ReactSVG />
        <TailwindSVG />
        <JavaScriptSVG />
        <CssSVG />
        <PhpSVG />
        <NodeSVG />
        <HtmlSVG />
        <SassSVG />
        <AstroSVG />
        <TypeScriptSVG />
        <MySQLSVG />
        <ReactSVG />
        <TailwindSVG />
        <JavaScriptSVG />
        <CssSVG />
        <PhpSVG />
        <NodeSVG />
        <HtmlSVG />
    </div>
</section>

<style>
    .animation-right {
        animation: slideright 20s linear infinite;
    }

    @keyframes slideright {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-6rem * 13 - 28px));
        }
    }

    .animation-left {
        animation: slideleft 20s linear infinite;
    }

    @keyframes slideleft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(6rem * 13 + 28px));
        }
    }

    .animation-right,
    .animation-left{
        span {
            @apply w-24 py-3 px-2 bg-white bg-opacity-10 flex flex-col items-center gap-2 rounded-lg;
            label{ @apply text-gray-400 font-bold font-Inconsolata;}
            svg { @apply size-12;}
        }
    }
</style>
