---
import CardSkill from "./CardSkill.astro";
import AstroSVG from "./svg/AstroSVG.astro";
import CssSVG from "./svg/CssSVG.astro";
import HtmlSVG from "./svg/HtmlSVG.astro";
import JavaScriptSVG from "./svg/JavaScriptSVG.astro";
import MySQLSVG from "./svg/MySQLSVG.astro";
import NodeSVG from "./svg/NodeSVG.astro";
import PhpSVG from "./svg/PhpSVG.astro";
import ReactSVG from "./svg/ReactSVG.astro";
import SassSVG from "./svg/SassSVG.astro";
import TailwindSVG from "./svg/TailwindSVG.astro";
---

<section
    class="w-full flex flex-col gap-5 bg-eerie-black my-5 py-5 overflow-hidden"
>
    <div class="animation-right w-[calc(6rem_*_24_+_1.25rem_*_23)] gap-5 flex">
        <CardSkill name="CSS">
            <CssSVG class="skills" />
        </CardSkill>
        <CardSkill name="PHP">
            <PhpSVG class="skills" />
        </CardSkill>
        <CardSkill name="NodeJS">
            <NodeSVG class="skills" />
        </CardSkill>
        <CardSkill name="HTML5">
            <HtmlSVG class="skills" />
        </CardSkill>
        <CardSkill name="SASS">
            <SassSVG class="skills" />
        </CardSkill>
        <CardSkill name="AstroJS">
            <AstroSVG class="skills" />
        </CardSkill>
        <CardSkill name="MySQL">
            <MySQLSVG class="skills" />
        </CardSkill>
        <CardSkill name="ReactJS">
            <ReactSVG class="skills" />
        </CardSkill>
        <CardSkill name="Tailwind">
            <TailwindSVG class="skills" />
        </CardSkill>
        <CardSkill name="JavaScript">
            <JavaScriptSVG class="skills" />
        </CardSkill>
        <CardSkill name="CSS">
            <CssSVG class="skills" />
        </CardSkill>
        <CardSkill name="PHP">
            <PhpSVG class="skills" />
        </CardSkill>
        <CardSkill name="NodeJS">
            <NodeSVG class="skills" />
        </CardSkill>
        <CardSkill name="HTML5">
            <HtmlSVG class="skills" />
        </CardSkill>
        <CardSkill name="SASS">
            <SassSVG class="skills" />
        </CardSkill>
        <CardSkill name="AstroJS">
            <AstroSVG class="skills" />
        </CardSkill>
        <CardSkill name="MySQL">
            <MySQLSVG class="skills" />
        </CardSkill>
        <CardSkill name="ReactJS">
            <ReactSVG class="skills" />
        </CardSkill>
        <CardSkill name="Tailwind">
            <TailwindSVG class="skills" />
        </CardSkill>
        <CardSkill name="JavaScript">
            <JavaScriptSVG class="skills" />
        </CardSkill>
        <CardSkill name="CSS">
            <CssSVG class="skills" />
        </CardSkill>
        <CardSkill name="PHP">
            <PhpSVG class="skills" />
        </CardSkill>
        <CardSkill name="NodeJS">
            <NodeSVG class="skills" />
        </CardSkill>
        <CardSkill name="HTML5">
            <HtmlSVG class="skills" />
        </CardSkill>
    </div>
    <div class="animation-left w-[calc(6rem_*_24_+_1.25rem_*_23)] ml-[calc(-6rem_*_12)] gap-5 flex">
        <CardSkill name="CSS">
            <CssSVG class="skills" />
        </CardSkill>
        <CardSkill name="PHP">
            <PhpSVG class="skills" />
        </CardSkill>
        <CardSkill name="NodeJS">
            <NodeSVG class="skills" />
        </CardSkill>
        <CardSkill name="HTML5">
            <HtmlSVG class="skills" />
        </CardSkill>
        <CardSkill name="SASS">
            <SassSVG class="skills" />
        </CardSkill>
        <CardSkill name="AstroJS">
            <AstroSVG class="skills" />
        </CardSkill>
        <CardSkill name="MySQL">
            <MySQLSVG class="skills" />
        </CardSkill>
        <CardSkill name="ReactJS">
            <ReactSVG class="skills" />
        </CardSkill>
        <CardSkill name="Tailwind">
            <TailwindSVG class="skills" />
        </CardSkill>
        <CardSkill name="JavaScript">
            <JavaScriptSVG class="skills" />
        </CardSkill>
        <CardSkill name="CSS">
            <CssSVG class="skills" />
        </CardSkill>
        <CardSkill name="PHP">
            <PhpSVG class="skills" />
        </CardSkill>
        <CardSkill name="NodeJS">
            <NodeSVG class="skills" />
        </CardSkill>
        <CardSkill name="HTML5">
            <HtmlSVG class="skills" />
        </CardSkill>
        <CardSkill name="SASS">
            <SassSVG class="skills" />
        </CardSkill>
        <CardSkill name="AstroJS">
            <AstroSVG class="skills" />
        </CardSkill>
        <CardSkill name="MySQL">
            <MySQLSVG class="skills" />
        </CardSkill>
        <CardSkill name="ReactJS">
            <ReactSVG class="skills" />
        </CardSkill>
        <CardSkill name="Tailwind">
            <TailwindSVG class="skills" />
        </CardSkill>
        <CardSkill name="JavaScript">
            <JavaScriptSVG class="skills" />
        </CardSkill>
        <CardSkill name="CSS">
            <CssSVG class="skills" />
        </CardSkill>
        <CardSkill name="PHP">
            <PhpSVG class="skills" />
        </CardSkill>
        <CardSkill name="NodeJS">
            <NodeSVG class="skills" />
        </CardSkill>
        <CardSkill name="HTML5">
            <HtmlSVG class="skills" />
        </CardSkill>
    </div>
</section>

<style>

    .animation-right {
        animation: slideright 20s linear infinite;
    }

    @keyframes slideright {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-6rem * 12 - 8px));
        }
    }

    .animation-left {
        animation: slideleft 20s linear infinite;
    }

    @keyframes slideleft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(6rem * 12 + 8px));
        }
    }

    .skills {
        @apply size-12 mx-[10px];
    }
</style>