<h2 class="h-[2ch] w-auto inline-flex text-6xl font-Inconsolata font-bold text-blue-neon tracking-[.15rem] relative">
    <span class="sha">Design</span>
</h2>
<p class="font-Inconsolata font-light text-[1.25rem] text-black w-full mt-5 leading-[1.4rem]">
    Desarrollador Frot-End con 2 años de
    experiencia en creación de aplicaciones web interactivas y bien optimizadas.
</p>